<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="partial/common-head"></div>

<div class="container">

    <div class="row my-5 py-5">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="card border border-dark border-1 text-white bg-dark" id="form-background">
                <img src="/img/user.png" class="mb-4 mx-auto img-fluid" id="user-image" alt="user image">
                <div class="card-body">

                    <h4 class="bg-dark text-white card-header text-center border-bottom pb-3 mb-4"
                        th:text="${updateMode == null or updateMode == false} ? 'Register form' : 'Update form'">
                        >User form</h4>

                    <form method="post" th:object="${professorForm}" id="user-form"
                          th:action="${updateMode} ? '/admin/update-professor' : '/admin/professor-form'">

                        <input type="hidden" th:field="${professorForm.id}" th:if="${updateMode}">

                        <div class="row justify-content-center my-4">
                            <div class="col-sm-12 col-md-12 col-lg-3 text-center mt-2">
                                <label for="email" class="col-form-label">Email</label>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-6 my-2 text-center">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com"
                                       th:field="${professorForm.email}" required>

                                <div class="alert alert-danger my-1 text-center" role="alert"
                                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                    Name Error
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-3">
                            <div class="col-sm-2 col-md-12 col-lg-3 text-center mt-2">
                                <label class="col-form-label">Name</label>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-3 text-center my-2">
                                <input type="text" class="form-control" id="firstName"
                                       th:field="${professorForm.firstName}" required>
                                <div class="alert alert-danger my-1 text-center" role="alert"
                                     th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                                    Name Error
                                </div>
                                <div id="firstNameHelp" class="form-text my-2">First name</div>

                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-3 text-center my-2">
                                <input type="text" class="form-control" id="lastName"
                                       th:field="${professorForm.lastName}" required>
                                <div class="alert alert-danger my-1 text-center" role="alert"
                                     th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                                    Name Error
                                </div>
                                <div id="lastNameHelp" class="form-text my-2">Last name</div>
                            </div>
                        </div>

                        <div class="row justify-content-center mt-3">
                            <div class="col-sm-12 col-md-12 col-lg-3 text-center mt-2">
                                <label class="col-form-label">Identification Document</label>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-3 text-center my-2">
                                <select class="form-select" aria-label="Default select example"
                                        id="tipeOfIdentificationDocument"
                                        th:field="${professorForm.typeOfIdentificationDocument}">
                                    <option th:each="typeOfIdentificationDocument: ${typesOfIdentificationDocument}"
                                            th:text="${typeOfIdentificationDocument.name}"
                                            th:value="${typeOfIdentificationDocument.id}"
                                    ></option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-3 text-center my-2">
                                <input type="text" class="form-control" id="identificationDocument"
                                       th:field="${professorForm.identificationDocument}" required>
                                <!--required-->

                                <div class="alert alert-danger my-1 text-center" role="alert"
                                     th:if="${#fields.hasErrors('identificationDocument')}"
                                     th:errors="*{identificationDocument}">Name Error
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 col-sm-12 col-md-12 col-lg-8 mx-auto mt-5 mb-2">
                            <a class="btn btn-lg btn-danger" th:if="${updateMode}"
                               th:href="@{'/admin/update-professor/cancel'}">

                                CANCEL
                            </a>

                            <button type="submit" class="btn btn-lg btn-success"
                                    th:text="${updateMode == null or updateMode == false} ? 'REGISTER' : 'SAVE CHANGES'"
                            >
                                REGISTER
                            </button>
                        </div>

                    </form>
                    <!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Cerrar Sesion"/>
                    </form>-->

                </div>
            </div>

        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>

</div>

<div th:replace="partial/common-footer"></div>